.clangd
*.exe
*.obj
/PRO192/Test/nbproject/private/
/PRO192/Test/build/
/PRO192/Test/dist/
/PRO192/workshop1/nbproject/private/
/PRO192/workshop1/build/
/PRO192/workshop4/nbproject/private/
/PRO192/test/target/
