USE [master]
GO
/****** Object:  Database [SUMMER11_Practical_Exam]    Script Date: 08/01/2011 07:24:20 ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'SUMMER11_Practical_Exam')
BEGIN
CREATE DATABASE [SUMMER11_Practical_Exam] 
END
GO
EXEC dbo.sp_dbcmptlevel @dbname=N'SUMMER11_Practical_Exam', @new_cmptlevel=100
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SUMMER11_Practical_Exam].[dbo].[sp_fulltext_database] @action = 'disable'
end
GO
USE [SUMMER11_Practical_Exam]
GO
/****** Object:  Table [dbo].[Car]    Script Date: 08/01/2011 07:24:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Car]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Car](
	[CarID] [varchar](50) NOT NULL,
	[CarName] [varchar](50) NULL,
	[Manufacturer] [varchar](50) NULL,
	[Model] [varchar](50) NULL,
	[Price] [float] NULL,
	[ReleasedYear] [varchar](50) NULL,
 CONSTRAINT [PK_Car] PRIMARY KEY CLUSTERED 
(
	[CarID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Bike]    Script Date: 08/01/2011 07:24:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Bike]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Bike](
	[BikeID] [varchar](50) NOT NULL,
	[BikeName] [varchar](50) NULL,
	[Manufacturer] [varchar](50) NULL,
	[Model] [varchar](50) NULL,
	[Price] [float] NULL,
	[ReleasedYear] [varchar](50) NULL,
 CONSTRAINT [PK_Bike] PRIMARY KEY CLUSTERED 
(
	[BikeID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Iphone]    Script Date: 08/01/2011 07:24:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Iphone]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Iphone](
	[IphoneID] [varchar](50) NOT NULL,
	[IphoneName] [varchar](50) NULL,
	[Manufacturer] [varchar](50) NULL,
	[Model] [varchar](50) NULL,
	[Price] [float] NULL,
	[ReleasedYear] [varchar](50) NULL,
 CONSTRAINT [PK_Iphone] PRIMARY KEY CLUSTERED 
(
	[IphoneID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Ipode]    Script Date: 08/01/2011 07:24:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Ipode]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Ipode](
	[IpodeID] [varchar](50) NOT NULL,
	[IpodeName] [varchar](50) NULL,
	[Manufacturer] [varchar](50) NULL,
	[Model] [varchar](50) NULL,
	[Price] [float] NULL,
	[ReleasedYear] [varchar](50) NULL,
 CONSTRAINT [PK_Ipode] PRIMARY KEY CLUSTERED 
(
	[IpodeID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Blackberry]    Script Date: 08/01/2011 07:24:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Blackberry]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Blackberry](
	[BlackberryID] [varchar](50) NOT NULL,
	[BlackberryName] [varchar](50) NULL,
	[Manufacturer] [varchar](50) NULL,
	[Model] [varchar](50) NULL,
	[Price] [float] NULL,
	[ReleasedYear] [varchar](50) NULL,
 CONSTRAINT [PK_Blackberry] PRIMARY KEY CLUSTERED 
(
	[BlackberryID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Nokia]    Script Date: 08/01/2011 07:24:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Nokia]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Nokia](
	[NokiaID] [varchar](50) NOT NULL,
	[NokiaName] [varchar](50) NULL,
	[Manufacturer] [varchar](50) NULL,
	[Model] [varchar](50) NULL,
	[Price] [float] NULL,
	[ReleasedYear] [varchar](50) NULL,
 CONSTRAINT [PK_Nokia] PRIMARY KEY CLUSTERED 
(
	[NokiaID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO

/* Data */
-- 1. Thêm dữ liệu vào bảng Car
INSERT INTO [dbo].[Car] ([CarID], [CarName], [Manufacturer], [Model], [Price], [ReleasedYear])
VALUES 
('C001', 'Camry', 'Toyota', '2.5Q', 35000, '2011'),
('C002', 'Civic', 'Honda', '1.8E', 24000, '2010'),
('C003', 'C-Class', 'Mercedes', 'C200', 45000, '2011'),
('C004', 'Focus', 'Ford', 'Hatchback', 22000, '2009');
GO

-- 2. Thêm dữ liệu vào bảng Bike
INSERT INTO [dbo].[Bike] ([BikeID], [BikeName], [Manufacturer], [Model], [Price], [ReleasedYear])
VALUES 
('B001', 'SH 150i', 'Honda', 'Sport', 4000, '2010'),
('B002', 'Exciter', 'Yamaha', 'GP', 2100, '2011'),
('B003', 'Vespa LX', 'Piaggio', '125ie', 3200, '2009');
GO

-- 3. Thêm dữ liệu vào bảng Iphone
INSERT INTO [dbo].[Iphone] ([IphoneID], [IphoneName], [Manufacturer], [Model], [Price], [ReleasedYear])
VALUES 
('IP01', 'iPhone 4', 'Apple', '32GB Black', 600, '2010'),
('IP02', 'iPhone 4S', 'Apple', '64GB White', 750, '2011'),
('IP03', 'iPhone 3GS', 'Apple', '16GB', 400, '2009');
GO

-- 4. Thêm dữ liệu vào bảng Ipode (Lưu ý: Script gốc đặt tên là Ipode thay vì Ipod)
INSERT INTO [dbo].[Ipode] ([IpodeID], [IpodeName], [Manufacturer], [Model], [Price], [ReleasedYear])
VALUES 
('PD01', 'iPod Touch', 'Apple', 'Gen 4', 299, '2010'),
('PD02', 'iPod Nano', 'Apple', 'Gen 6', 149, '2010'),
('PD03', 'iPod Classic', 'Apple', '160GB', 249, '2009');
GO

-- 5. Thêm dữ liệu vào bảng Blackberry
INSERT INTO [dbo].[Blackberry] ([BlackberryID], [BlackberryName], [Manufacturer], [Model], [Price], [ReleasedYear])
VALUES 
('BB01', 'Bold 9900', 'RIM', 'Touch', 500, '2011'),
('BB02', 'Curve 9360', 'RIM', 'Standard', 300, '2011'),
('BB03', 'Torch 9800', 'RIM', 'Slider', 450, '2010');
GO

-- 6. Thêm dữ liệu vào bảng Nokia
INSERT INTO [dbo].[Nokia] ([NokiaID], [NokiaName], [Manufacturer], [Model], [Price], [ReleasedYear])
VALUES 
('NK01', 'N8', 'Nokia', 'Symbian^3', 350, '2010'),
('NK02', 'E72', 'Nokia', 'Business', 280, '2009'),
('NK03', 'Lumia 800', 'Nokia', 'Windows Phone', 450, '2011');
GO
