USE [master]
GO
/****** Object:  Database [PaintingManagement]    Script Date: 10/06/2023 11:46:52 AM ******/
CREATE DATABASE [PaintingManagement]
 
USE [PaintingManagement]
GO

CREATE TABLE [dbo].[tblPainting](
	[id] [char](5) NOT NULL,
	[creator] [nvarchar](50) NOT NULL,
	[description] [nvarchar](500) NOT NULL,
	[height] [int] NOT NULL,
	[width] [int] NOT NULL,
	[price] [float] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUsers]    Script Date: 10/06/2023 11:46:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUsers](
	[userID] [varchar](50) NOT NULL,
	[fullName] [nvarchar](50) NOT NULL,
	[roleID] [char](2) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[status] [bit] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[tblPainting] ([id], [creator], [description], [height], [width], [price]) VALUES (N'P004 ', N'FPT 1', N'Tranh son dau 4', 12, 24, 90)
INSERT [dbo].[tblPainting] ([id], [creator], [description], [height], [width], [price]) VALUES (N'P005 ', N'FPT 2', N'Tranh son dau 5', 9, 12, 75)
INSERT [dbo].[tblPainting] ([id], [creator], [description], [height], [width], [price]) VALUES (N'P006 ', N'FPT 3', N'Tranh sown dau 6', 6, 9, 45)
GO
INSERT [dbo].[tblUsers] ([userID], [fullName], [roleID], [password], [status]) VALUES (N'SE002', N'Miniks', N'AD', N'12345', 1)
INSERT [dbo].[tblUsers] ([userID], [fullName], [roleID], [password], [status]) VALUES (N'SE003', N'user', N'US', N'11111', 0)
