-- 2. Thêm thuộc tính Note (n varchar(20)) vào bảng Products
ALTER TABLE Products
ADD Note NVARCHAR(20);
GO

-- 3. Thêm thuộc tính CustomerType (tinyint) vào bảng Customer
ALTER TABLE Customer
ADD CustomerType TINYINT;
GO

-- 4. Thay đổi kiểu dữ liệu của thuộc tính Note trong bảng Products thành varchar(100)
ALTER TABLE Products
ALTER COLUMN Note VARCHAR(100);
GO

-- 5. Xóa các thuộc tính Note và CustomerType khỏi bảng Products và Customer
ALTER TABLE Products
DROP COLUMN Note;
GO

ALTER TABLE Customer
DROP COLUMN CustomerType;
GO

-- 6. Thêm dữ liệu vào tables
INSERT INTO Staff (StaffID, FullName, PhoneNumber, StartDate) VALUES
('NV01', N'Nguyễn Văn A', '098765431', '2002-09-04'),
('NV02', N'Nguyễn Văn B', '098765432', '2002-06-07'),
('NV03', N'Nguyễn Văn C', '098765433', '2001-04-26'),
('NV04', N'Nguyễn Văn D', '098765434', '1997-12-07'),
('NV05', N'Nguyễn Văn E', '098765435', '2002-08-20');




INSERT INTO InvoiceDetails (InvoiceID, ProductID, Quantity) VALUES
('1001', 'BD', 10),
('1001', 'BKG', 43),
('1002', 'BG', 12),
('1002', 'BKDN', 47),
('1003', 'BKG', 14),
('1003', 'BKDN', 51),
('1004', 'BKD', 16),
('1004', 'BKG', 55),
('1005', 'BKHM', 18),
('1005', 'BKG', 59),
('1006', 'BKHM', 83),
('1007', 'BKHM', 22),
('1007', 'BKT', 67),
('1008', 'BKV', 13),
('1008', 'BKHM', 71),
('1009', 'BKVP', 92),
('1010', 'BKX', 21),
('1010', 'BKT', 79);

-- 7. Cập nhật tên thành "Nguyễn Văn B" cho khách hàng có mã KH01
UPDATE Customer
SET FullName = N'Nguyễn Văn B'
WHERE CustomerID = 'KH01';
GO

-- 8. Cập nhật tên thành “Nguyễn Văn Hoàn” cho khách hàng có mã KH09 và năm đăng ký 2007
-- Vì KH09 có năm đăng ký là 2019 trong dữ liệu mẫu, lệnh này sẽ không có tác dụng 
-- trừ khi thay đổi điều kiện hoặc bỏ điều kiện năm đăng ký.
UPDATE Customer
SET FullName = N'Nguyễn Văn Hoàn'
WHERE CustomerID = 'KH09' AND YEAR(RegistrationDate) = 2007;
GO

-- 9. Hiển thị thông tin khách hàng ở Ninh Thuận (Mã KH, Tên, Địa chỉ, SĐT, Ngày sinh định dạng D/M/Y)
SELECT CustomerID, FullName, CusAddress AS Address, PhoneNumber,
    -- CONVERT(VARCHAR(10), DateOfBirth, 103) là định dạng dd/mm/yyyy trong SQL Server
    CONVERT(VARCHAR(10), DateOfBirth, 103) AS "Date Of Birth"
FROM Customer
WHERE CusAddress LIKE N'%Ninh Thuận%'

-- 10. Hiển thị danh sách khách hàng có họ là "Lê" (Mã KH, Tên, Địa chỉ, SĐT)
SELECT CustomerID, FullName, CusAddress, PhoneNumber FROM Customer
WHERE FullName LIKE N'Lê %'

-- 11. Hiển thị tổng giá trị hàng hóa đã bán trong các tháng (Tháng, Tổng giá trị)
SELECT MONTH(InvoiceDate) AS SaleMonth, SUM(InvoiceValue) AS TotalRevenue FROM Invoice
GROUP BY MONTH(InvoiceDate) ORDER BY SaleMonth

-- 12. Hiển thị số tiền bán hàng trung bình theo tháng
SELECT AVG(TotalValue) AS AverageMonthlyRevenue
FROM (
    SELECT MONTH(InvoiceDate) AS SaleMonth, SUM(InvoiceValue) AS TotalValue FROM Invoice
    GROUP BY MONTH(InvoiceDate)
) AS MonthlyRevenue


-- 13. Hiển thị các mặt hàng khách hàng “Phạm Minh Hoàng” đã mua (Mã SP, Số lượng, Tổng giá)
SELECT T2.ProductID, T2.Quantity, T2.Quantity * T3.Price AS TotalPrice -- Tổng giá = Số lượng * Đơn giá
FROM Customer AS T1
JOIN Invoice AS T4 ON T1.CustomerID = T4.CustomerID
JOIN InvoiceDetails AS T2 ON T4.InvoiceID = T2.InvoiceID
JOIN Products AS T3 ON T2.ProductID = T3.ProductID
WHERE T1.FullName = N'Phạm Minh Hoàng'