-- Tạo bảng Student
CREATE TABLE Student (
    StudentID INT PRIMARY KEY,
    Name NVARCHAR(100) NOT NULL,
    Major NVARCHAR(100) NOT NULL
);

-- Tạo bảng Course
CREATE TABLE Course (
    CourseID INT PRIMARY KEY,
    CourseName NVARCHAR(100) NOT NULL,
    Credits INT NOT NULL
);

-- Tạo bảng Enrollment với CASCADE
CREATE TABLE Enrollment (
    StudentID INT NOT NULL,
    CourseID INT NOT NULL,
    Semester NVARCHAR(50) NOT NULL,
    PRIMARY KEY (StudentID, CourseID, Semester),
    FOREIGN KEY (StudentID) REFERENCES Student(StudentID)
        ON UPDATE CASCADE
        ON DELETE CASCADE,
    FOREIGN KEY (CourseID) REFERENCES Course(CourseID)
        ON UPDATE CASCADE
        ON DELETE CASCADE
);
