<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>User Authentication System</display-name>
    <description>
        User Authentication System with Email Verification
        Password reset, Google 
    </description>
    <servlet>
        <servlet-name>DispatchServlet</servlet-name>
        <servlet-class>com.mycompany.authsystem.controller.DispatchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DispatchServlet</servlet-name>
        <url-pattern>/DispatchServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
        <cookie-config>
            <http-only>true</http-only>
            <secure>false</secure>
        </cookie-config>
    </session-config>
    <welcome-file-list>
        <welcome-file>DispatchServlet</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/views/error_404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/views/error_500.jsp</location>
    </error-page>
    <resource-ref>
        <res-ref-name>AuthSystem_DBCon</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
